<body id='home-page'>
<% if signed_in? %>

<div class="center hero-unit">
    <h1>Make Shopping a Conversation.</h1>
    <p class="home_caption"> Thanks for being part of our Alpha Test! </p>

</div>

<div class="buy-sell-btn">  
  <%= link_to "Buy", buy_path,
                                  class: "btn btn-very-large btn-primary" %>

  <div class="buy-sell-divider"></div>                                

  <%= link_to "Sell", sell_path,
                                  class: "btn btn-very-large btn-primary" %>
</div>

 
<% else %>
  <div class="center hero-unit">
    <h1>Make Shopping a Conversation.</h1>
    <p class="home_caption"> Thanks for being part of our Alpha Test! </p>

    <%= link_to "Sign up now!", signup_path,
                                class: "btn btn-large btn-primary" %>
  </div>

<% end %>
</body>
