<% provide(:title, 'MatchCenter') %>
<h1>MatchCenter</h1>



<div id = "matchcenter-text">

	<table border="0" cellpadding="10"  align="center">
		<tr>
			<td><img src='http://i.imgur.com/VFnxyIz.png' width="920" height="720" /></td>
		</tr>
		<tr>
			<td align = "center">A beautiful, intuitive interface that connects you to the products you love.</td>
		<tr>
		
		<tr>
			<td align = "center">Coming soon.</td>
		<tr>
	</table>

</div>