<% provide(:title, 'Sell') %>
<h1>Selling with Denarri</h1>



<div id = "sell-text">

	<table border="0" cellpadding="10"  align="center">
		<tr>
			<td id = "sellimg"><img src='http://i.imgur.com/2W6xkcS.png?1' width="920" height="720" /></td>
		</tr>
		<tr>
			<td align = "center" width = "900px">
				<p>Imagine a marketplace where you no longer have to worry about unpredictable auctions. Where your items sell in hours, not days. Where outrageous fees are a thing of the past, which means more cash in your pocket.
				</p>
				<br><br>
				<p>We're working hard to build a better selling experience, and can't wait for you to use it.</p>

			</td>
		<tr>
		
		<tr>
			<td align = "center">Stay tuned.</td>
		<tr>
	</table>

</div>